* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    display: flex;
    margin: 0px auto;
}
nav ul{
    display: flex;
    text-decoration: none;
}