.hide{
    display: none !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 2.8rem;
    font-weight: 800;

}
.primary-color{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 2.2rem;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* main styles */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav {
    display: flex;
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu-bar{
    display: flex;
    gap: 50px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #474747;
}
#banner{
    display: flex;
    margin: 46px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 2.8rem;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 5.3rem;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 1.1rem;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-content .banner-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
#about , #skills , #resume{
    margin-top: 130px;
}
#about .about-content {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-content .about-info{
display: flex;
justify-content: space-around;
}
.about-info .info-card p{
    font-size: 1.1rem;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 1.25rem;
}

#skills .skills-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-content .skills-box{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.skills-box .skill-card{
   padding: 30px;
   max-width: 267px;
   box-shadow: 0 6px 50px 0 #00000027; 
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 1.25rem;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 1rem;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size: 1.8rem;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 1rem;
    line-height: 28px;
    color: #757575;
}
footer{
   margin-top: 130px;
   background-color: #FFF8F3;
   padding: 130px 0;
}
.footer-container h2{
    color: #181818;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px; 
}
.footer-container form input[type="text"], .footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

/* Media Query for Mobile Screen */
@media screen and (max-width: 420px) {
    /* Common Style */
    #about, #skills, #resume {
        margin-top: 80px;
    }
    .section-heading h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .section-heading p {
        font-size: 1rem;
    }

    /* Header Style Start */
    header {
        background: url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-top: 30px;
}
    /* Navbar Style */
    nav , nav .menu-bar{
        flex-direction: column;
        gap: 25px;
    }
    nav .menu-bar{
        text-align: center;
        align-items: center;
    }
    nav .menu{
        gap: 50px;
    }
    /* Banner Style */
    #banner {
        flex-direction: column;
        margin: 15px;
    }
    #banner .banner-content h2 {
        margin-top: 20px;
        font-size: 1.9rem;
        text-align: center;
        margin-bottom: 0px;
    }
    #banner .banner-content h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 15px;
    }
    #banner .banner-content p {
        font-size: 1rem;
        line-height: 30px;
        text-align: center;
    }
    #banner .banner-content .banner-btn{
        justify-content: center;
    }
    #banner .banner-image img{
        width: 100%;
    }
    /* Header Style End */

    /* About Section Style Start */
    #about .about-content {
        width: 90%;
        padding: 20px;
    }
    #about .about-content .about-info {
        flex-direction: column;
        gap: 10px;
    }
    #skills .skills-content {
        width: 90%;
    }
    #skills .skills-content .skills-box {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .skill-card h3 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
    .skill-card p {
        line-height: 30px;
        margin-bottom: 20px;
    }
    /* About Section Style End */

    /* Resume Section Style Start */
    #resume .resume-container{
        width: 100%;
        margin: 60px auto 0;
        padding: 20px;
        flex-direction: column;
    }
    .resume-container hr{
        margin: 20px 0;
    }
    .resume-card .card-title{
        font-size: 1.2rem;
        margin-bottom: 8px;
    }
    .resume-card .card-info{
        font-size: 1rem;
        margin-bottom: 15px;
    }
    /* Resume Section Style End */
    
    /* Footer Section Style Start */
    footer{
       margin-top: 80px;
       padding: 80px 0;
    }
    .footer-container h2{
        font-size: 2.rem;
        margin-bottom: 20px;
    }
    footer .footer-container{
        width: 71%;
        flex-direction: column;
        gap: 60px;
    }
    .footer-container form input[type="text"], .footer-container form textarea {
        width: 90%;
        padding: 20px;
    }
}
